{% extends "layout.njk" %}
{% block content %}


    <h1>{{quiz[0].fråga}}</h1>


    
    {% for row in quiz %}
      <form action="/answer" method="POST">
        <input type="radio" id="{{ row.id }}" name="svar" value= "{{ row.korrektsvar }}">
        <label for="answer">{{ row.svar }}</label><br>
    {% endfor %}
    <button type="submit">Answer</button>
   <a href="/quiz/{{ quiz[1].id }}"> begin</a>
    </form>



{% endblock %}