body{
    width: min(90ch, 100vw - 2rem);
    margin-inline: auto;
    padding-bottom: 4rem;
    text-align: center;
    background-color: rgb(135, 178, 164);
    font-family: sans-serif;
}


button{
    margin-top: 1rem;
}
h1{
color: rgb(33, 33, 71);
}